__pycache__/prompt.cpython-310.pyc
.env
example_audio.mp3
test_audio1.ogg
testing.py
temp_audio/*
__pycache__/*
conversation_history.pkl
google-creds.json
output.mp3
output.wav
venv/*
voice_recordings/*
test files/*
user_notes.json
function_tools/__pycache__/directions.cpython-310.pyc
function_tools/__pycache__/discord_message.cpython-310.pyc
function_tools/__pycache__/google_search.cpython-310.pyc
function_tools/__pycache__/news.cpython-310.pyc
function_tools/__pycache__/notes.cpython-310.pyc
function_tools/__pycache__/phone_message.cpython-310.pyc
function_tools/__pycache__/place_info.cpython-310.pyc
function_tools/__pycache__/take_notes.cpython-310.pyc
function_tools/__pycache__/weather.cpython-310.pyc
speech.mp3
function_tools/__pycache__/reminders.cpython-310.pyc
function_tools/__pycache__/spotify.cpython-310.pyc
function_tools/templates/index.html
