__pycache__/prompt.cpython-310.pyc
.env
example_audio.mp3
test_audio1.ogg
testing.py
temp_audio/*
__pycache__/*
conversation_history.pkl
google-creds.json
output.mp3
output.wav
venv/*
voice_recordings/*
test files/*
user_notes.json
